streamlit
python-dotenv
newsapi-python
langchain==0.1.16
langchain-core==0.1.43
langchain-community==0.0.38
langchain-text-splitters==0.0.1
langchain-groq
sentence-transformers
faiss-cpu
unstructured
duckduckgo-search
ddgs
